body {
    margin: 20px;
    background-image: url("../img/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.box{
    margin-top: 130px;
    border-radius: 10px;
    margin-left: 520px;
    width: 35vw;
    height: 53vh;
    background-color: white;
    text-align: center;
    line-height: 40px;
    padding: 10px;
    opacity:0.93;
}

.bot{
    margin-top: 15px;
    width: 10vw;
    height: 5vh;
    background-color: aquamarine;
    color:honeydew;
    border-radius: 5px;
    border-color: powderblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size:large;
    opacity:1;
}

.post{
    color:blue;
    margin-right: 20px;
}
